<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:for each="{images}" as="image" iteration="i">
        <div class="row py-3" {f:if(condition: i.isEven, then: 'style="background-color:#ccc;"')}>
            <f:if condition="{settings.showImages}">
                <div class="col-md-2 col-sm-12">
                    <a href="{f:uri.image(image: image.fileObjects.0)}" target="_blank">
                        <f:image image="{image.fileObjects.0}" class="img-fluid" loading="lazy" />
                    </a>
                </div>
            </f:if>
            <div class="col-sm-12 col-md-5 mt-4 mt-sm-0">
                <small><em>{image.file.name}</em></small>
                <f:if condition="{image.file.metadata.tx_imagecredits14v_name}">
                    <p class="mb-1"><b>Urheber:</b> {image.file.metadata.tx_imagecredits14v_name}</p>
                </f:if>
                <f:if condition="{image.file.metadata.tx_imagecredits14v_link}">
                    <p class="mb-1"><b>Website:</b> <f:link.external uri="{image.file.metadata.tx_imagecredits14v_link}" target="_blank"> {image.file.metadata.tx_imagecredits14v_link}</f:link.external></p>
                </f:if>
                <f:if condition="{image.file.metadata.creator}">
                    <p class="mb-1"><b>Ersteller:</b> {image.file.metadata.creator}</p>
                </f:if>
                <f:if condition="{image.file.metadata.publisher}">
                    <p class="mb-1"><b>Veröffentlicher:</b> {image.file.metadata.publisher}</p>
                </f:if>
                <f:if condition="{image.file.metadata.source}">
                    <p class="mb-1"><b>Quelle:</b> {image.file.metadata.source}</p>
                </f:if>
                <f:if condition="{image.file.metadata.copyright}">
                    <p class="mb-1"><b>Copyright:</b> {image.file.metadata.copyright}</p>
                </f:if>
                <f:if condition="{image.file.metadata.tx_imagecredits14v_term} > 0">
                    <f:variable name="licenceUid" value="{image.file.metadata.tx_imagecredits14v_term}" />
                    <f:if condition="{licences.{licenceUid}}">
                        <f:variable name="licence" value="{licences.{licenceUid}}" />
                        <p class="mb-1"><b>Lizenz:</b>
                            <f:if condition="{licence.licenceUrl}">
                                <f:then><a href="{licence.licenceUrl}" target="_blank">{licence.licenceName}</a></f:then>
                                <f:else>{licence.licenceName}</f:else>
                            </f:if>
                        </p>
                    </f:if>
                </f:if>
            </div>
            <div class="col-sm-12 col-md-5 mt-4 mb-2 mb-lg-0 mt-lg-0">
                <f:if condition="{image.pages}">
                    <p class="mb-1">Dieses Bild wird verwendet unter:</p>
                    <ul class="mb-0">
                        <f:for each="{image.pages}" as="page">
                            <li>
                                <f:if condition="{page.isPage}">
                                    <f:then>
                                        <f:link.page pageUid="{page.uid}" target="_blank">
                                            {page.title}
                                        </f:link.page>
                                    </f:then>
                                    <f:else>{page.title}</f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </f:if>
            </div>
        </div>
    </f:for>
</html>